<section class='ironsworn journal-page-content progress-list-item flexcol' style="gap: var(--ironsworn-spacer-md)">
  <div class="flexrow nogrow" style="gap: 1em">
    {{> rankPips}}
    <h4 style="margin: var(--ironsworn-spacer-xs);">{{currentRank}}</h4>
    {{> progressButtons}}
  </div>
  {{> progressBoxes}}
</section>
